@inherits LayoutComponentBase
@inject MathyAuthenticationStateProvider masp
@inject LocalStorage localStorage


<div class="sidebar">
    <NavMenu />
</div>

<div class="main" tabindex="-1">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active site-color" href="javascript:void(0)">欢迎 <strong>@authenticationStateTask.Result.User.Identity.Name</strong> </a>
                    </li>
                    <li class="nav-item">
                        @*<a class="nav-link  site-color" href="javascript:void(0)" @onclick="Logout">注销</a>*@
                        <button type="button" class="btn btn-primary site-back" href="javascript:void(0)" @onclick="Logout">注销</button>
                    </li>
                </ul>
            </Authorized>
            <NotAuthorized>
                <button type="button" class="btn btn-primary site-back" data-toggle="modal" data-target="#exampleModal">登录</button>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <div class="content px-4" style="z-index:0">
        @Body
    </div>
    <LoginModal></LoginModal>
    <AlertModal></AlertModal>
</div>
@code{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private async Task Logout()
    {
        await localStorage.DeleteAsync("User");
        await masp.NotifyAuthenticationState();
    }
}

