<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <span class="oi oi-beaker" aria-hidden="true"></span>
        <strong>UES</strong> 
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="counter">
                        <span class="oi oi-plus" aria-hidden="true"></span> 我的实验
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> 我的模板
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-beaker" aria-hidden="true"></span>About UES
            </NavLink>
        </li>
        <AuthorizeView>
            <NotAuthorized>
                <li class="nav-item px-3" data-toggle="modal" data-target="#exampleModal">
                    <NavLink class="nav-link" href="">
                        <span class="oi oi-person" aria-hidden="true"></span> 登录开启更多功能
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>

@code {

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
