<form method="post" enctype="multipart/form-data" action="File/Upload">
    <div>
        <p>Upload one or more files using this form:</p>
        <input type="file" name="files" />
    </div>
    <div>
        <input type="submit" value="Upload" />
    </div>
</form>

<Editor Content="iiiii"></Editor>
<PageBar PageInfo=@(new PageInfo {
                    TotalCount =32, Search = this.Search}) OnPageClick="Search"></PageBar>

@code {
       public void Search(int pageIndex)
    {
        this.P = pageIndex;
    }
    public int P { get; set; }
}
